<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>footer</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
	<body>
		<div id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							<div class="copyright_linkbox">
								<div class="links">
									<a href="http://www.zongheng.com/company/about.html" target="_blank">关于书店</a>|
									<a href="http://www.zhwenxue.com/join" target="_blank">诚聘英才</a>|
									<a href="http://www.zongheng.com/company/business.html" target="_blank">商务合作</a>|
									<a href="http://www.zongheng.com/company/copyright.html" target="_blank">法律声明</a>|
									<a href="http://www.zongheng.com/help/index.html" target="_blank">帮助中心</a>|
									<a href="http://author.zongheng.com" target="_blank">作者投稿</a>|
									<a href="http://www.zongheng.com/company/contact.html" target="_blank">联系我们</a>|
									<a href="http://www.zongheng.com/company/link.html" target="_blank">友情链接</a>|
									<a href="http://news.zongheng.com/zhuanti/wlqz/index.html" target="_blank">谨防诈骗</a>|
									<a href="http://www.zongheng.com/company/sitemap.html" target="_blank">网站地图</a>
								</div>
							</div>
							
							<p>Copyright©<a href="##">www.shudian.com</a>All Rights Reserved 版权所有
								书店网络技术有限公司
								<a href="###">京ICP证080527号</a>
								<a href="##">京ICP备11009265号</a>
								<a href="##">京网文[2018]10215-962号</a></p>
							<p>
								<a href="##">新出发京零字第朝137010号</a> 丨
								统一社会信用代码91186485678221683F 丨
								<a href="##">京公网安备
									1101854564730124号</a> 丨
								<a href="http://www.cyberpolice.cn/wfjb" target="_blank">公安部网络违法犯罪举报网站</a>
							</p>
							<p>
								<a href="index.html">书店小说网</a>,提供
								<a href="##">玄幻小说</a>,
								<a href="##">都市小说</a>,
								<a href="##">言情小说</a>等
								<a href="##">免费小说</a>
								阅读。作者发布小说作品时，请遵守国家互联网信息管理办法规定。
							</p>
							<p>本站所收录小说作品、社区话题、书库评论均属其个人行为，不代表本站立场。</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
