<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>论坛</title>
		<link rel="stylesheet" type="text/css" href="/static/css/lt.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="myiframe">
				<iframe src="/nav/" frameborder="no" width="100%" scrolling="no" height="52px"></iframe>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-success djb">
						<table class="table">
							<caption>
								<h2>热门讨论<h4 style="text-align:right;"><a href="javascript:void[0]">我也有话说</a></h4></h2>
							</caption>
							<thead>
								<tr>
									<th>主题</th>
									<th>有关小说</th>
									<th>作者</th>
									<th>回复</th>
									<th>浏览</th>
									<th>最后回复</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td class="jj"><a href="javascript:;">大千世界，无奇不有。我陈平安，唯有一剑，可搬山，倒海，
										降妖，镇魔，敕神，摘星，断江，摧城，开天！</a></td>
									<td><a href="javascript:;">《剑来》</a></td>
									<td><a href="javascript:;">烽火戏诸侯</a></td>
									<td>9999+</td>
									<td>9999+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>
								</tr>
								<tr class="warning">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="info">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="active">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="danger">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="link">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="warning">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="info">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="active">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="danger">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="link">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="warning">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="info">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="active">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="danger">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="link">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="warning">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="info">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="active">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="danger">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="link">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="warning">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="info">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="active">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="danger">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
								<tr class="link">
									<td class="jj"><a href="javascript:;">xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx,xxxxxxx</a></td>
									<td><a href="javascript:;">《xxxx》</a></td>
									<td><a href="javascript:;">xxxxxxx</a></td>
									<td>****+</td>
									<td>****+</td>
									<td>xx_xxx&nbsp; 2019-*-*</td>

								</tr>
							</tbody>
						</table>
					</div>

					<div class="fybox">
						<ul class="pagination">
							<li>
								<a href="#">上一页</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">6</a>
							</li>
							<li>
								<a href="#">7</a>
							</li>
							<li>
								<a href="#">8</a>
							</li>
							<li>
								<a href="#">9</a>
							</li>
							<li>
								<a href="#">10</a>
							</li>
							<li>
								<a href="#">11</a>
							</li>
							<li>
								<a href="#">下一页</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<iframe src="/footer/" frameborder="0" width="100%" height="160px" scrolling="no"></iframe>

	</body>
</html>
