<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/search.css" />
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="myiframe">
				<iframe src="/nav/" frameborder="no" width="100%" scrolling="no" height="52px"></iframe>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="AD">
						<span>
							<img src="/static/img/sousuo.jpg" class="img-circle" />
						</span>
						<p>搜索中...</p>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" aria-valuenow="70" 
							aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>

						</div>
						<p>结果即将出现...</p>
						<div class="progress progress-striped">
							<div class="progress-bar progress-bar-success" style="width:90%">90%</div>
						</div>
					</div>
				</div>

				<div class="col-md-7 bg_img">
					<div id="yingqin">
						<div class="dropdown">
							<button type="button" class="btn btn-info" data-toggle="dropdown">
								国内搜索引擎
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" id="yykuan">
								<li role="subject">
									<a role="menuitem" tabindex="-1" href="#">百度</a>
								</li>
								<li role="subject">
									<a role="menuitem" tabindex="-1" href="#">神马</a>
								</li>
								<li role="subject">
									<a role="menuitem" tabindex="-1" href="#">搜狗</a>
								</li>
								<li role="subject" class="divider"></li>
								<li role="subject" class="disabled">
									<a role="menuitem" tabindex="-1" href="#">雅虎</a>
								</li>
							</ul>
						</div>

						<div class="dropdown">
							<button type="button" class="btn btn-warning" data-toggle="dropdown">
								国外搜索引擎
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" id="yykuan">
								<li role="subject" class="active">
									<a role="menuitem" tabindex="-1" href="#">谷歌</a>
								</li>
								<li role="subject">
									<a role="menuitem" tabindex="-1" href="#">必应</a>
								</li>
								<li role="subject">
									<a role="menuitem" tabindex="-1" href="#">维基百科</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sos">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入你要搜索的...">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-search"></span>搜索
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="dropdown">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-heart"></span>
							反馈/投诉
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" id="ftkuan">
							<li role="subject" class="dropdown-header red">反馈</li>
							<li role="subject">
								<a role="menuitem" tabindex="-1" href="http://www.12315.cn">BUG</a>
							</li>
							<li role="subject">
								<a role="menuitem" tabindex="-1" href="http://www.12315.cn">反馈详情</a>
							</li>
							<li role="subject" class="divider"></li>
							<li role="subject" class="dropdown-header red">投诉</li>
							<li role="subject">
								<a role="menuitem" tabindex="-1" href="http://www.12315.cn">客服</a>
							</li>
						</ul>
					</div>


				</div>
			</div>

			<div class="row">
				<div class="col-md-12 ssbox">
					<div class="sstitle">
						<h3>搜索结果：</h3>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
					<div class="jgbox">
						<b><a href="javascript:;">xxxxxxxxxxxxxxxxxxxxxxxxxxx</a></b>
						<p class="a"><a href="javascript:;">http://www.xxxxx.com/xxxxxxxxxxxxx</a></p>
						<p>搜索结果页是指搜索引擎对某个搜索请求反馈的结果页面。根据搜索类型的不同，可以有图片、视频、新闻资讯、博客等不同的结果页。现在随着搜索引擎技术的进一步发展，搜索结果页包含的信息也越来越丰富，某些搜索引擎的搜索结果页可能会同时包含几种不同类型的搜索结果，各大搜索引擎都在致力于提供更丰富和方便的搜索结果页。</p>
					</div>
				</div>
			</div>
		</div>
		<iframe src="/footer/" frameborder="0" width="100%" height="160px" scrolling="no"></iframe>

	</body>
</html>
<script type="text/javascript">
	
</script>
